body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bfcddc;
}
.left {
  overflow: scroll;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border: 1px solid rgba(243, 245, 243, 0.754);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 85vh;
  width: 25%;
  font-size: 19px;
  scrollbar-width: none;
}
li {
  margin: 2px 0;
  height: 3rem;
  background-color:	#8ea7c1;
  margin-left: 2px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  transition: 0.4s;
  width: 95%;
}
li:hover {
  cursor: pointer;
  background-color: #bfcddc;
}

.sorting-block {
  display: none;
}
.algo-block {
  display: none;
}
.search-block {
  display: none;
}
.graph-block {
  display: none;
}
.dynamic-block {
  display: none;
}
.greedy-block {
  display: none;
}
.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  animation: animation 5s steps(50);
}
@keyframes animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.arrow-icon-sorting,
.arrow-icon-algo,
.arrow-icon-search,
.arrow-icon-graph,
.arrow-icon-dynamic,
.arrow-icon-greedy {
  transform: rotate(270deg);
}
